In [1]:
import pandas as pd
dataset = pd.read_csv("EPL Standings 2000-2022.csv")

In [2]:
dataset = dataset.drop(0)
dataset.drop({1,2,3})

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
4,2000-01,5,Ipswich Town,38,20,6,12,57,42,15,66,Qualification for the UEFA Cup first round[a]
5,2000-01,6,Chelsea,38,17,10,11,68,45,23,61,Qualification for the UEFA Cup first round[a]
6,2000-01,7,Sunderland,38,15,12,11,46,41,5,57,Not Applicable
7,2000-01,8,Aston Villa,38,13,15,10,46,43,3,54,Qualification for the Intertoto Cup third round
8,2000-01,9,Charlton Athletic,38,14,10,14,50,57,-7,52,Not Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...
435,2021-22,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
436,2021-22,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
437,2021-22,18,Burnley,38,7,14,17,34,53,-19,35,Relegation to the EFL Championship
438,2021-22,19,Watford,38,6,5,27,34,77,-43,23,Relegation to the EFL Championship
439,2021-22,20,Norwich City,38,5,7,26,23,84,-61,22,Relegation to the EFL Championship

In [3]:
for index, row in dataset.iterrows():
    if row["Team"] == "Aston Villa":
        dataset = dataset.drop(index)

In [4]:
print(dataset)

      Season  Pos          Team  Pld   W   D   L  GF  GA  GD  Pts  \
1    2000-01    2       Arsenal   38  20  10   8  63  38  25   70
2    2000-01    3     Liverpool   38  20   9   9  71  39  32   69
3    2000-01    4  Leeds United   38  20   8  10  64  43  21   68
4    2000-01    5  Ipswich Town   38  20   6  12  57  42  15   66
5    2000-01    6       Chelsea   38  17  10  11  68  45  23   61
..       ...  ...           ...  ...  ..  ..  ..  ..  ..  ..  ...
435  2021-22   16       Everton   38  11   6  21  43  66 -23   39
436  2021-22   17  Leeds United   38   9  11  18  42  79 -37   38
437  2021-22   18       Burnley   38   7  14  17  34  53 -19   35
438  2021-22   19       Watford   38   6   5  27  34  77 -43   23
439  2021-22   20  Norwich City   38   5   7  26  23  84 -61   22

                           Qualification or relegation
1    Qualification for the Champions League first g...
2    Qualification for the Champions League third q...
3        Qualification for the UEFA Cup first round[a]
4        Qualification for the UEFA Cup first round[a]
5        Qualification for the UEFA Cup first round[a]
..                                                 ...
435                                     Not Applicable
436                                     Not Applicable
437                 Relegation to the EFL Championship
438                 Relegation to the EFL Championship
439                 Relegation to the EFL Championship

[420 rows x 12 columns]

In [5]:
dataset = dataset.drop("Pld", axis = 1)

In [6]:
print(dataset)

      Season  Pos          Team   W   D   L  GF  GA  GD  Pts  \
1    2000-01    2       Arsenal  20  10   8  63  38  25   70
2    2000-01    3     Liverpool  20   9   9  71  39  32   69
3    2000-01    4  Leeds United  20   8  10  64  43  21   68
4    2000-01    5  Ipswich Town  20   6  12  57  42  15   66
5    2000-01    6       Chelsea  17  10  11  68  45  23   61
..       ...  ...           ...  ..  ..  ..  ..  ..  ..  ...
435  2021-22   16       Everton  11   6  21  43  66 -23   39
436  2021-22   17  Leeds United   9  11  18  42  79 -37   38
437  2021-22   18       Burnley   7  14  17  34  53 -19   35
438  2021-22   19       Watford   6   5  27  34  77 -43   23
439  2021-22   20  Norwich City   5   7  26  23  84 -61   22

                           Qualification or relegation
1    Qualification for the Champions League first g...
2    Qualification for the Champions League third q...
3        Qualification for the UEFA Cup first round[a]
4        Qualification for the UEFA Cup first round[a]
5        Qualification for the UEFA Cup first round[a]
..                                                 ...
435                                     Not Applicable
436                                     Not Applicable
437                 Relegation to the EFL Championship
438                 Relegation to the EFL Championship
439                 Relegation to the EFL Championship

[420 rows x 11 columns]

In [7]:
dataset["Team"] = dataset["Team"].str.replace("Norwich City", "Norwich_City")

In [8]:
print(dataset)

      Season  Pos          Team   W   D   L  GF  GA  GD  Pts  \
1    2000-01    2       Arsenal  20  10   8  63  38  25   70
2    2000-01    3     Liverpool  20   9   9  71  39  32   69
3    2000-01    4  Leeds United  20   8  10  64  43  21   68
4    2000-01    5  Ipswich Town  20   6  12  57  42  15   66
5    2000-01    6       Chelsea  17  10  11  68  45  23   61
..       ...  ...           ...  ..  ..  ..  ..  ..  ..  ...
435  2021-22   16       Everton  11   6  21  43  66 -23   39
436  2021-22   17  Leeds United   9  11  18  42  79 -37   38
437  2021-22   18       Burnley   7  14  17  34  53 -19   35
438  2021-22   19       Watford   6   5  27  34  77 -43   23
439  2021-22   20  Norwich_City   5   7  26  23  84 -61   22

                           Qualification or relegation
1    Qualification for the Champions League first g...
2    Qualification for the Champions League third q...
3        Qualification for the UEFA Cup first round[a]
4        Qualification for the UEFA Cup first round[a]
5        Qualification for the UEFA Cup first round[a]
..                                                 ...
435                                     Not Applicable
436                                     Not Applicable
437                 Relegation to the EFL Championship
438                 Relegation to the EFL Championship
439                 Relegation to the EFL Championship

[420 rows x 11 columns]

In [9]:
for index, row in dataset.iterrows():
    symbol = row["Team"][5]
    if symbol == " ":
        dataset.at[index, "Team"] = dataset["Team"][index][:5]
print(dataset)

      Season  Pos          Team   W   D   L  GF  GA  GD  Pts  \
1    2000-01    2       Arsenal  20  10   8  63  38  25   70
2    2000-01    3     Liverpool  20   9   9  71  39  32   69
3    2000-01    4         Leeds  20   8  10  64  43  21   68
4    2000-01    5  Ipswich Town  20   6  12  57  42  15   66
5    2000-01    6       Chelsea  17  10  11  68  45  23   61
..       ...  ...           ...  ..  ..  ..  ..  ..  ..  ...
435  2021-22   16       Everton  11   6  21  43  66 -23   39
436  2021-22   17         Leeds   9  11  18  42  79 -37   38
437  2021-22   18       Burnley   7  14  17  34  53 -19   35
438  2021-22   19       Watford   6   5  27  34  77 -43   23
439  2021-22   20  Norwich_City   5   7  26  23  84 -61   22

                           Qualification or relegation
1    Qualification for the Champions League first g...
2    Qualification for the Champions League third q...
3        Qualification for the UEFA Cup first round[a]
4        Qualification for the UEFA Cup first round[a]
5        Qualification for the UEFA Cup first round[a]
..                                                 ...
435                                     Not Applicable
436                                     Not Applicable
437                 Relegation to the EFL Championship
438                 Relegation to the EFL Championship
439                 Relegation to the EFL Championship

[420 rows x 11 columns]

In [11]:
dataset["W"] = dataset["W"].astype(int)
dataset["D"] = dataset["D"].astype(int)
dataset["L"] = dataset["L"].astype(int)
dataset["GF"] = dataset["GF"].astype(int)
dataset["GA"] = dataset["GA"].astype(int)
dataset["GD"] = dataset["GD"].astype(int)
dataset["Pts"] = dataset["Pts"].astype(int)

In [12]:
dataset["Season"] = dataset["Season"].astype(str)
dataset[["Year", "Month"]] = dataset["Season"].str.split("-", expand=True)

In [13]:
print(dataset)

      Season  Pos          Team   W   D   L  GF  GA  GD  Pts  \
1    2000-01    2       Arsenal  20  10   8  63  38  25   70
2    2000-01    3     Liverpool  20   9   9  71  39  32   69
3    2000-01    4         Leeds  20   8  10  64  43  21   68
4    2000-01    5  Ipswich Town  20   6  12  57  42  15   66
5    2000-01    6       Chelsea  17  10  11  68  45  23   61
..       ...  ...           ...  ..  ..  ..  ..  ..  ..  ...
435  2021-22   16       Everton  11   6  21  43  66 -23   39
436  2021-22   17         Leeds   9  11  18  42  79 -37   38
437  2021-22   18       Burnley   7  14  17  34  53 -19   35
438  2021-22   19       Watford   6   5  27  34  77 -43   23
439  2021-22   20  Norwich_City   5   7  26  23  84 -61   22

                           Qualification or relegation  Year Month
1    Qualification for the Champions League first g...  2000    01
2    Qualification for the Champions League third q...  2000    01
3        Qualification for the UEFA Cup first round[a]  2000    01
4        Qualification for the UEFA Cup first round[a]  2000    01
5        Qualification for the UEFA Cup first round[a]  2000    01
..                                                 ...   ...   ...
435                                     Not Applicable  2021    22
436                                     Not Applicable  2021    22
437                 Relegation to the EFL Championship  2021    22
438                 Relegation to the EFL Championship  2021    22
439                 Relegation to the EFL Championship  2021    22

[420 rows x 13 columns]

In [14]:
dataset = dataset.drop("Season", axis = 1)

In [15]:
print(dataset)

     Pos          Team   W   D   L  GF  GA  GD  Pts  \
1      2       Arsenal  20  10   8  63  38  25   70
2      3     Liverpool  20   9   9  71  39  32   69
3      4         Leeds  20   8  10  64  43  21   68
4      5  Ipswich Town  20   6  12  57  42  15   66
5      6       Chelsea  17  10  11  68  45  23   61
..   ...           ...  ..  ..  ..  ..  ..  ..  ...
435   16       Everton  11   6  21  43  66 -23   39
436   17         Leeds   9  11  18  42  79 -37   38
437   18       Burnley   7  14  17  34  53 -19   35
438   19       Watford   6   5  27  34  77 -43   23
439   20  Norwich_City   5   7  26  23  84 -61   22

                           Qualification or relegation  Year Month
1    Qualification for the Champions League first g...  2000    01
2    Qualification for the Champions League third q...  2000    01
3        Qualification for the UEFA Cup first round[a]  2000    01
4        Qualification for the UEFA Cup first round[a]  2000    01
5        Qualification for the UEFA Cup first round[a]  2000    01
..                                                 ...   ...   ...
435                                     Not Applicable  2021    22
436                                     Not Applicable  2021    22
437                 Relegation to the EFL Championship  2021    22
438                 Relegation to the EFL Championship  2021    22
439                 Relegation to the EFL Championship  2021    22

[420 rows x 12 columns]

In [17]:
dataset["Year"] = dataset["Year"].astype(int)
dataset["Month"] = dataset["Month"].astype(int)

In [18]:
print(dataset)

     Pos          Team   W   D   L  GF  GA  GD  Pts  \
1      2       Arsenal  20  10   8  63  38  25   70
2      3     Liverpool  20   9   9  71  39  32   69
3      4         Leeds  20   8  10  64  43  21   68
4      5  Ipswich Town  20   6  12  57  42  15   66
5      6       Chelsea  17  10  11  68  45  23   61
..   ...           ...  ..  ..  ..  ..  ..  ..  ...
435   16       Everton  11   6  21  43  66 -23   39
436   17         Leeds   9  11  18  42  79 -37   38
437   18       Burnley   7  14  17  34  53 -19   35
438   19       Watford   6   5  27  34  77 -43   23
439   20  Norwich_City   5   7  26  23  84 -61   22

                           Qualification or relegation  Year  Month
1    Qualification for the Champions League first g...  2000      1
2    Qualification for the Champions League third q...  2000      1
3        Qualification for the UEFA Cup first round[a]  2000      1
4        Qualification for the UEFA Cup first round[a]  2000      1
5        Qualification for the UEFA Cup first round[a]  2000      1
..                                                 ...   ...    ...
435                                     Not Applicable  2021     22
436                                     Not Applicable  2021     22
437                 Relegation to the EFL Championship  2021     22
438                 Relegation to the EFL Championship  2021     22
439                 Relegation to the EFL Championship  2021     22

[420 rows x 12 columns]

In [19]:
dataset.to_csv(
    "EPL Standings 2000-2022.csv"
)
dataset.to_csv(
    "EPL Standings 2000-2022.xlsx"
)